.navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 115px;
  }
  .container{
    border-radius: 15px;
  background-color: #f2f2f2;
  padding: 20px;
  height: 450px;
  margin-top: 60px;
  }
  .container1{
    border-radius: 15px;
  background-color: #f2f2f2;
  padding: 20px;
  height: 250px;
  margin-top: 60px;
  
  }
  .container-item{
   margin-left: 250px;
  }
  .container-item1{
    margin-left: 75px;
   }
   
  .button-item{
    margin-top: 10px;
    margin-left: 60px;
    background-color: rgb(85, 75, 221);
    color: white;
    border-radius: 5px;
  }
 .input-item{
  border-radius: 4px;
 }
 h3{
  margin-left: 250px;
 }
 .image-item{
  margin-top: 120px;
 }
 .home-item{
  display: flex;
 }
 .signup-item{
  display: flex;
 }
.sign-image{
  padding: 20px;
  height: 450px;
  margin-top: 60px;
}
.login-dev{
  display: flex;
  margin-top: 100px;
  margin-left: 400px;
}
